/* Css */

/* Polices */
@font-face
{
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.ttf');
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
}

/* Styles généraux */
body
{
    margin: 0;
    font-family: 'Roboto';
}
h1
{
    font-family: 'Shrikhand';
}
a
{
    text-decoration: none;
}
.restaurant_image img
{
    width:100%;
    object-fit: cover;
    margin-bottom: -40px;
    background-color: white;
}
.restaurant_image
{
    background-color: white;
}
.fa-arrow-left
{
    color:#353535;
}
.fa-heart
{
    font-size:20px;
}
.fa-check
{
    color:#99e2d0;
}
/* Header */
.header_pages
{
    margin: 20px 0 12px 20px;
    display: flex;
    align-items: center;
}
.logo_header img
{
    width:163px;
}
.logo_header
{
    margin-left: auto;
    margin-right: auto;
}
/* Section */
.section_pages
{
    background-color: #f6f6f6;
    padding-bottom: 80px;
}
.text_border
{
    margin:0 auto;
    padding:15px;
}
.upper
{
    text-transform: uppercase;
    display:inline-block;
    margin:0;
}
.gradient_button
{
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.gradient_button:hover
{
    cursor: pointer;
    background: linear-gradient(#F87ceb, #b866ed);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
}
.gradient_button p
{
    color:white;
}
.menu 
{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu p
{
    margin-right:25px;
}
.card_menu
{   background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    width: 335px;
    display: flex;
}
.bold
{
    font-weight:bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.small_text
{
    font-size:15px;
}
.price
{
    color:#353535;
    font-weight:bold;
    font-size:15px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.card_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold 
{
    margin: 15px 0 0 15px;
}
.small_text 
{
    margin: 5px 0 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box_h1
{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 12px;
}
.heart 
{
    position:relative;
    right: -140px;
}
.border 
{
    border-top: solid #99e2d0;
    width: 40px;
    margin-top: 10px;
}
.white_circle
{
    background-color: white;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.round_check
{
    background-color: #99e2d0;
    width: 0;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    transition: width 500ms linear;
    transform-origin: right center;
}

/* Footer */
footer
{
    background-color: #353535;
    padding:20px;
}
.fa-utensils, .fa-hands-helping
{
    color:white;
}
.fa-utensils
{
    margin-right: 15px;
}
.fa-hands-helping
{
    margin-right: 9px;
}
footer p
{
    color: white;
}
footer h3
{
    font-family: 'Shrikhand';
    color:white;
    margin:0;
}
footer a
{
    color:white;
}

/* animations*/
.card_menu:hover .white_circle
{
   animation: opacity 500ms linear;
   opacity: 1;
}
@keyframes  opacity{
    0% {
        opacity: 0;
        transform: rotate(-90deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.card_menu:hover
{
    cursor: pointer;
}
.card_menu:hover .round_check
{
    width: 70px;
}
.card_menu 
{
    animation: fadein 2.5s ease-out;
    overflow: hidden;
}

@keyframes fadein {
    0% {
        opacity:0;
        margin-top:-300px;
    }
    25% {
        opacity:0;
    }
    33%{
        opacity: 0;
    }
    50% {
        opacity: 0.25;
        margin-top: 0px;
    }
    75%{
        opacity: 0.5;
        margin-top: 0px;
    }
    100% {
        opacity: 1;
        margin-top:0px;
    }
}
@media all and (max-width:375px)
{
    .restaurant_image img
    {
        height: 260px;
    }
    .card_menu
    {
        width: 305px;
    }
}
@media all and (min-width:1064px)
{
    .menu_wrapper
    {
        display:flex;
        justify-content: space-around;
    }
    .restaurant_image img 
    {
        height: 450px;
    }
    .section_pages
    {
        padding-bottom: 60px;
    }
    .box_h1
    {
        padding:0 33%;
    }
}
@media all and (min-width:640px) and (max-width:1063px)
{
    .text_border
    {
        margin:0 150px;
    }
    .box_h1
    {
        padding:0 25%;
    }
    .heart 
    {
        position: relative;
        right: -95px;
    }
}
