/* Css */

/* Polices */
@font-face
{
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.ttf');
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
}

/* Styles généraux */
body
{
    margin: 0;
    font-family: 'Roboto';
}
.body_warper
{
    max-width: 1600px;
    margin: 0 auto;
}
.image img
    {
        width:335px;
        height:180px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
.number
{
    background-color: #9356DC;
    width: 25px;
    height: 25px;
    border-radius: 25px;display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 35px;
}
.fa-mobile-alt, .fa-list-ul
{
    color:#7e7e7e;
    font-size:20px;
}
.fa-store
{
    color: #9356DC;
    font-size:20px;
}

.operation p
{
    font-weight:900;
}
a
{
    text-decoration:none;
}
/* Header */
.logo_header
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 12px;
}
.logo_header img
{
    width:163px;
}
/* Section */
.menus, .search
{
    background-color: #f6f6f6;
}
/* Search */
.search_location
{
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    box-shadow: inset 0px 3px 8px 0px #d5d5d5;
}
.fa-map-marker-alt
{
    color:#353535
}
.input
{
    border:none;
    background-color: #eaeaea;
    font-family: 'Roboto';
    margin-left: 10px;
    color:#353535
}
.search
{
    height: 350px;
}
.gradient_button
{
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gradient_button p
{
    color:white;
}
.reservation p
{
    text-align: center;
}
.reservation h1
{
    text-align: center;
    margin: 40px 0 0 0;
}
.reservation_flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Fonctionnement */
.warper_align
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 330px;
    height: 72px;
    background-color: #f6f6f6;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.warper_align .color_hover:hover
{
    background-color: #f5edff;
}
.op_center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose, .compose, .taste
{
    position: relative;
    padding:12px;
}
.number p
{
    color: white;
}
.operation
{
    padding: 50px 0 40px 0;
}
/* Restaurants */
.new
{
    background-color: #99E2D0;
    position: absolute;
    left: 205px;
    top: 10px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.new p
{
    color:#008766;
    font-size: 14px;
    font-weight: bold;
}
.card
{   background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    max-width: 335px;
    position: relative;
}
.card_warper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menus
{
    padding: 60px 0 40px 0;
}
.card h3 
{
    margin: 15px 0 0 15px;
}
.card .town
{
    margin: 5px 0 15px 15px;
}
.fa-heart
{
    font-size: 20px;
}
.heart 
{
    position: absolute;
    top: 205px;
    right: 30px;
}
/* Footer */
footer
{
    background-color: #353535;
}
.fa-utensils, .fa-hands-helping
{
    color:white;
}
.fa-utensils
{
    margin-right: 15px;
}
.fa-hands-helping
{
    margin-right: 9px;
}
footer p
{
    color: white;
}
footer h3
{
    font-family: 'Shrikhand';
    color:white;
    margin:0;
}
/* Mobile */
@media all and (min-width:375px) and (max-width:500px)
{
    .image img
    {
        width:300px;
        height:180px;
        object-fit: cover;
    }
    footer
    {
        padding:20px;
    }
}