/* Css */

/* Polices */
@font-face
{
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.ttf');
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
}

/* Styles généraux */
body
{
    margin: 0;
    font-family: 'Roboto';
}
.body_wrapper
{
    max-width: 768px;
    margin: 0 auto;
}
h1
{
    font-family: 'Shrikhand';
}
a
{
    text-decoration: none;
}
.restaurant_image img
{
    width:375px;
    height:260px;
    object-fit: cover;
    margin-bottom: -40px;
}
.fa-arrow-left
{
    color:#353535;
}
.fa-heart
{
    font-size:20px;
}
.fa-check
{
    color:#99e2d0;
}
/* Header */
.header_pages
{
    margin: 20px 0 12px 20px;
    display: flex;
    align-items: center;
}
.logo_header img
{
    width:163px;
}
.logo_header
{
    margin-left: auto;
    margin-right: auto;
}
/* Section */
.section_pages
{
    background-color: #f6f6f6;
    padding-bottom: 80px;
}
.text_border
{
    margin:0 auto;
    padding:15px;
}
.upper
{
    text-transform: uppercase;
    display:inline-block;
    margin:0;
}
.gradient_button
{
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.gradient_button:hover
{
    cursor: pointer;
    background: linear-gradient(#F87ceb, #b866ed);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4);
}
.gradient_button p
{
    color:white;
}
.card_menu
{   background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    width: 335px;
    position: relative;
}
.bold
{
    font-weight:bold;
}
.small_text
{
    font-size:15px;
}
.price
{
    color:#353535;
    font-weight:bold;
    font-size:15px;
    position:absolute;
    top: 25px;
    right: 20px;
}
.card_wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bold 
{
    margin: 15px 0 0 15px;
}
.small_text
{
    margin: 5px 0 15px 15px;
}
.box_h1
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 12px;
}
.heart 
{
    position:relative;
    right: -140px;
}
.border 
{
    border-top: solid #99e2d0;
    width: 40px;
    margin-top: 10px;
}
.white_circle
{
    background-color: white;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round_check
{
    background-color: #99e2d0;
    width: 70px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -2px;
    border-radius: 0 20px 20px 0;
}
/* Footer */
footer
{
    background-color: #353535;
    padding:20px;
}
.fa-utensils, .fa-hands-helping
{
    color:white;
}
.fa-utensils
{
    margin-right: 15px;
}
.fa-hands-helping
{
    margin-right: 9px;
}
footer p
{
    color: white;
}
footer h3
{
    font-family: 'Shrikhand';
    color:white;
    margin:0;
}
footer a
{
    color:white;
}