/* Css */

/* Polices */
@font-face
{
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand-Regular.ttf');
    font-family: 'Roboto';
    src: url('polices/Roboto-Regular.ttf');
}

/* Styles généraux */
body
{
    margin: 0;
    font-family: 'Roboto';
}
.body_warper
{
    max-width: 1600px;
    margin: 0 auto;
}
.image img
    {
        width:335px;
        height:180px;
        object-fit: cover;
    }
.number
{
    background-color: #9356DC;
}
.fa-mobile-alt, .fa-list-ul
{
    color:#7e7e7e;
}
.fa-store
{
    color: #9356DC;
}
/* Section */
.menus, .search
{
    background-color: #f6f6f6;
}
.new
{
    background-color: #99E2D0;
}
.new p
{
    color:#008766
}
.card
{   background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    max-width: 335px;
}
/* Footer */
footer
{
    background-color: #353535;
}
.fa-utensils, .fa-hands-helping
{
    color:white;
}
footer p
{
    color: white;
}
footer h3
{
    font-family: 'Shrikhand';
    color:white;
}
/* Mobile */
@media all and (min-width:375px) and (max-width:500px)
{
    .image img
    {
        width:300px;
        height:180px;
        object-fit: cover;
    }
    footer
    {
        padding:20px;
    }
}